@keyframes logoPulse {
  0%,
  100% {
    filter: grayscale(100%) brightness(20%) contrast(150%);
  }
  50% {
    filter: grayscale(0%) brightness(100%) contrast(100%);
  }
}

.logo-pulse {
  animation: logoPulse 2s ease-in-out infinite;
}
