@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: "Inter", "sans-serif";

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --breakpoint-xxxs: 320px;
  --breakpoint-xxs: 375px;
  --breakpoint-xs: 475px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }

  .pause-on-hover:hover {
    animation-play-state: paused;
  }

  .fade-left::before,
  .fade-right::after {
    content: "";
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    z-index: 10;
    pointer-events: none;
  }

  .fade-left::before {
    left: 0;
    background: linear-gradient(to right, white, transparent);
  }

  .fade-right::after {
    right: 0;
    background: linear-gradient(to left, white, transparent);
  }
}


